{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Jatoth Sravani</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Jatoth Sravani. Currently Pursuing Bachelors in
                    CSE-AIML .My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence..</p>
                <h5>Phno: 9398174257</h5>
            </center>
            
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Datla Thanvitha</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Datla Thanvitha. Currently Pursuing Bachelors in
                    CSE-AIML .My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence..
                </p>
                <h5>Phno: 9502590909</h5>
            </center>
            
        </div>
    </div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ekki Mayuri</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ekki Mayuri. Currently Pursuing Bachelors in
                    CSE-AIML .My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence..
                </p>
                <h5>Phno: 9100922224</h5>
            </center>
            
        </div>
    </div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Gummadi Deepika</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Gummadi Deepika. Currently Pursuing Bachelors in
                    CSE-AIML .My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence..
                </p>
                <h5>Phno: 8247406892</h5>
            </center>
            
        </div>
    </div>
</div>

{% endblock body %}